<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head_fragment">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <title>포폼</title>
    <!-- common css  -->
    <link rel="stylesheet" href="/css/common/libs/fontello/css/fontello.css">
    <link rel="stylesheet" href="/css/common/reset.css">
    <link rel="stylesheet" href="/css/common/variable.css">
    <link rel="stylesheet" href="/css/common/typography.css">
    <link rel="stylesheet" href="/css/common/base.css">
    <link rel="stylesheet" href="/css/common/component.css">
    <link rel="stylesheet" href="/css/common/layout.css">
</head>
</html>