@charset "utf-8";


.box {
    display: block;
    position: relative;
    box-sizing: border-box;
}


.column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    &.is-align-midst {
        align-items: center;
        justify-content: center;
    }
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    &.is-align-center {
        justify-content: center;
    }

    &.is-align-midst {
        justify-content: center;
        align-items: center;
    }
}