@charset "utf-8";

/***********************************************************************************************************************
 * component.css
 *  : 주요 컴포넌트들에 대한 스타일
 *  - explain...
 *
 *  @author     Park Su Bin
 *  @version    1.0.0
 **********************************************************************************************************************/


/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
*   >> 텍스트 스타일 (TEXT)
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* BY COLORIZED */
.text-primary {
    color: var(--color-primary);
}

.text-secondary {
    color: var(--color-secondary);
}

/* LINK */
.has-text-link, .has-text-links {
    text-align: center;
    color: var(--color-gray);
    font-size: var(--text-base);
}

.has-text-links > .text-link {
    margin: 0 var(--space-sm);

    &:first-child {
        margin-left: 0;
    }

    &:last-child {
        margin-right: 0;
    }
}

.text-link:hover {
    text-decoration: underline;
}

/* BORDER-LINE */
hr {
    height: 1px;
    background-color: var(--color-border);
    border: 0;
}

/* HELP TEXT */
.help-block {
    margin-bottom: var(--space-xxs);
    color: var(--color-gray);
    font-size: var(--text-sm);
}



/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
*   >> 버튼 (BUTTON)
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.button {
    display: block;
    position: relative;
    box-sizing: border-box;
    padding: var(--space-xs);
    border-radius: var(--border-radius-width);

    /* INNER BUTTON ELEMENT */
    & > button {
        width: 100%;
        height: var(--inner-element-height);
        line-height: calc(var(--inner-element-height) + 1px);
        color: inherit;
        font-family: 'Pretendard-Medium', sans-serif;
        font-size: var(--text-base);
        font-weight: 600;
    }

    /* BY COLORIZED */
    &.is-primary {
        border: 1px solid var(--color-primary);
        background-color: var(--color-primary);
        color: var(--color-white);
    }

    &.is-secondary {
        border: 1px solid var(--color-secondary);
        background-color: var(--color-secondary);
        color: var(--color-white);
    }
}

/* SOCIAL BUTTON */
.is-kakao > button, .is-google > button {
    padding-left: var(--space-xxl);
    background-position: var(--space-sm) calc(var(--space-xxs) - 5px);
    background-size: var(--icon-md);
    background-repeat: no-repeat;
}

.is-kakao {
    border: 1px solid var(--color-background-kakao);
    background-color: var(--color-background-kakao);
    color: var(--color-text-kakao);

    & > button {
        background-image: url('/images/icon_kakao.png');
    }
}

.is-google {
    border: 1px solid var(--color-background-google);
    background-color: var(--color-background-google);
    color: var(--color-text-google);

    & > button {
        background-image: url('/images/icon_google.png');
    }
}




































































































































