@charset "utf-8";

/***********************************************************************************************************************
 * form.css
 *  : 폼 및 폼 내부 요소 스타일
 *  - 폼 요소 (FORM)
 *  - 폼 내부 레이아웃 (FORM LAYOUT)
 *  - 폼 내부 요소 (FORM ELEMENT)
 *
 *  @author     Park Su Bin
 *  @version    1.0.0
 **********************************************************************************************************************/


/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
*   >> 폼 요소(FORM)
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.form {
    line-height: 1;
}


/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
*   >> 폼 내부 레이아웃 (FORM LAYOUT)
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.field {
    margin-bottom: var(--space-sm);

    &:last-child {
        margin-bottom: 0;
    }
}

.field.is-grouped {
    margin: var(--space-md) 0;

    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

.has-addons {
    display: flex;
    align-items: center;
    position: relative;
}


/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
*   >> 폼 내부 요소 (FORM ELEMENT)
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.label {
    display: block;
    margin-bottom: var(--space-unit);
    color: var(--color-secondary);
    font-family: 'Pretendard-Medium', sans-serif;
    font-size: var(--text-base);
    font-weight: 600;
}

/* TEXT-FIELDS : INPUT */
.input {
    width: 100%;
    border-radius: var(--border-radius-width);
    border: 1px solid var(--color-border);
    background-color: var(--color-white);

    &:focus-within {
        border-color: var(--color-primary);
    }

    /* INNER INPUT ELEMENT */
    & > input {
        width: 100%;
        height: var(--inner-element-height);
    }
}





































































































































