@charset "utf-8";

/***********************************************************************************************************************
 * global.css
 *  : 웹 화면의 레이아웃 및 컴포넌트 등에 공통적으로 사용될 스타일
 *  - 사용자 지정 속성 (CUSTOM PROPERTIES)
 *  - 플렉스 (FLEX)
 *  - 박스 (BOX)
 *
 *  @author     Park Su Bin
 *  @version    1.0.0
 **********************************************************************************************************************/


/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
*   >> 사용자 지정 속성 (CUSTOM PORPERTIES)
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
:root {
    /* COLOR */
    --color-primary: #5770EC;
    --color-secondary: #384458;
    --color-success: #1BBF83;
    --color-warning: #FEC85C;
    --color-danger: #FF485D;
    --color-border: #B9BFCA;
    --color-disabled: #EDEDEE;
    --color-light: #F3F3F3;
    --color-dark: #243044;
    --color-white: #FFFFFF;
    --color-gray: #8D9094;
    --color-black: #2E2D2D;
    --color-background-kakao: #FEE500;
    --color-text-kakao: #3C1E1E;
    --color-background-google: #F8F9FA;
    --color-text-google: #394558;

    /* SPACING */
    --space-unit: 6px;
    --space-xxs: calc(var(--space-unit) + 2px);
    --space-xs: calc(var(--space-unit) + 4px);
    --space-sm: calc(var(--space-unit) + 8px);
    --space-md: calc(var(--space-unit) + 16px);
    --space-lg: calc(var(--space-unit) + 22px);
    --space-xl: calc(var(--space-unit) + 28px);
    --space-xxl: calc(var(--space-unit) + 34px);

    /* TEXT */
    --text-base: 13px;
    --text-sm: 12px;
    --text-md: 18px;
    --text-lg: 24px;
    --text-xl: 30px;

    /* ICON */
    --icon-base: 12px;
    --icon-sm: 10px;
    --icon-md: 16px;
    --icon-lg: 22px;
    --icon-xl: 28px;

    /* COMPONENT */
    --inner-element-height: 20px;
    --border-radius-width: 3px;
}


/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
*   >> 플렉스 (FLEX)
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.is-vertical {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.is-vertical-center {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.is-horizontal {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.is-horizontal-middle {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.is-horizontal-center {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.is-horizontal-between {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}


/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
*   >> 박스 (BOX)
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.box {
    display: block;
    position: relative;
    box-sizing: border-box;
}

.box-padding {
    display: block;
    position: relative;
    box-sizing: border-box;
    padding: var(--space-xs);
}