<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>POPOM</title>
    <th:block th:replace="common/layout/fragments/head :: headLib"/>
    <link rel="stylesheet" href="/css/popom/index.css">
</head>
<body>
    <div id="wrapper">
        <div id="container" class="is-vertical-center">
            <main class="content">
                <form role="form" id="loginForm" class="form">
                    <div class="field is-grouped">
                        <div class="field">
                            <label for="loginId" class="label">아이디</label>
                            <span class="box-padding input">
                                <input type="text" name="loginId" id="loginId" class="box" autofocus>
                            </span>
                        </div>
                        <div class="field">
                            <label for="password" class="label">비밀번호</label>
                            <span class="box-padding input">
                                <input type="password" name="password" id="password" class="box" autocomplete="off">
                            </span>
                        </div>
                        <div class="field">
                            <span class="box-padding button is-primary">
                                <button type="button" id="loginBtn" class="box">로그인</button>
                            </span>
                        </div>
                        <div class="field">
                            <span class="box has-text-links">
                                <a href="#" role="link" class="text-link text-secondary">아이디 찾기</a>|
                                <a href="#" role="link" class="text-link text-secondary">비밀번호 찾기</a>|
                                <a href="/sign-up" role="link" class="text-link text-secondary">회원가입</a>
                            </span>
                        </div>
                    </div>
                    <hr>
                    <div class="field is-grouped">
                        <div class="field">
                            <span class="box-padding button is-kakao">
                                <button type="button" id="kakaoBtn" class="box">카카오 계정으로 로그인</button>
                            </span>
                        </div>
                        <div class="field">
                            <span class="box-padding button is-google">
                                <button type="button" id="googleBtn" class="box">구글 계정으로 로그인</button>
                            </span>
                        </div>
                    </div>
                </form>
            </main>
        </div>
    </div>
</body>
</html>