<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>POPOM</title>
    <th:block th:replace="common/layout/fragments/head :: headLib"/>
</head>
<body>
    <div id="wrapper">
        <div id="container" class="is-vertical-center">
            <main class="content">
                <form role="form" id="signupForm" class="form">
                    <div class="field is-grouped">
                        <div class="field">
                            <label for="name" class="label">이름</label>
                            <span class="input">
                                <input type="text" name="name" id="name" class="box" autofocus>
                            </span>
                        </div>
                        <div class="field">
                            <label for="loginId" class="label">아이디</label>
                            <p class="help-block">영문과 숫자를 모두 포함한 4~20자 이내</p>
                            <div class="has-addons">
                                <span class="input">
                                    <input type="text" name="loginId" id="loginId" class="box">
                                </span>
                                <span class="button is-primary">
                                    <button type="button" id="verifyIdBtn" class="box">중복 확인</button>
                                </span>
                            </div>
                        </div>
                        <div class="field">
                            <label for="email" class="label">이메일</label>
                            <div class="has-addons">
                                <span class="input">
                                    <input type="text" name="email" id="email" class="box">
                                </span>
                                <span class="button is-primary">
                                    <button type="button" id="verifyEmailBtn" class="box">중복 확인</button>
                                </span>
                            </div>
                        </div>
                        <div class="field">
                            <label for="password" class="label">비밀번호</label>
                            <p class="help-block">영문과 숫자, 특수문자를 모두 포함한 8~16자 이내</p>
                            <span class="input">
                                <input type="password" name="password" id="password" class="box" autocomplete="off">
                            </span>
                        </div>
                        <div class="field">
                            <label for="passwordConfirm" class="label">비밀번호 확인</label>
                            <span class="input">
                                <input type="password" name="passwordConfirm" id="passwordConfirm" class="box" autocomplete="off">
                            </span>
                        </div>
                        <div class="field">
                            <span class="button is-primary">
                                <button type="button" id="signupBtn" class="box">가입하기</button>
                            </span>
                        </div>
                        <div class="field">
                            <span class="box has-text-link">
                                이미 가입된 계정을 가지고 있으시다면? <a href="/" role="link" class="text-link text-primary">로그인</a>
                            </span>
                        </div>
                    </div>
                    <hr>
                    <div class="field is-grouped">
                        <div class="field">
                            <span class="button is-kakao">
                                <button type="button" id="kakaoBtn" class="box">카카오 계정으로 가입하기</button>
                            </span>
                        </div>
                        <div class="field">
                            <span class="button is-google">
                                <button type="button" id="googleBtn" class="box">구글 계정으로 가입하기</button>
                            </span>
                        </div>
                    </div>
                </form>
            </main>
        </div>
    </div>
</body>
</html>